body {
    font: 12px sans-serif;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  html{
    width:100%;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .x.axis path {
    display: none;
  }
  
  .axis--x path {
    display: none;
  }

  
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }